/ Navigation
%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-secondary.text-uppercase
  .container
    =link_to '#page-top', class: 'navbar-brand js-scroll-trigger' do
      = image_tag 'favicon.ico', width: '30px'
      IUSM
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
      Menu
      %i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Photos', 'https://igsm.smugmug.com/2018', class: 'nav-link rounded'
        %li.nav-item
          = link_to 'About', '#about', class: 'nav-link rounded js-scroll-trigger'
        %li.nav-item
          = link_to 'Connect', '#connect', class: 'nav-link rounded js-scroll-trigger'
/ Announcements Carousel
%header#announcements.masthead.bg-primary.text-white.text-center
  #carouselExampleIndicators.carousel.slide{"data-interval" => "7000", "data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
    .carousel-inner{role: "listbox"}
      .carousel-item.active
        =image_tag "TFG-WEB.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %h3 Last "The Friday Gathering"!
          %p Wrapping up the year with our last TFG and Friday night Bible Study. Don't miss it!
          %h6
            Grad Haven (1612 Walnut St Apt 1, Berkeley, CA 94709)
            @ 6:30 PM, Friday, 5/4/2018
          %p Please contact Virginia (virginia.chae at gpmail.org) for rides
      .carousel-item
        =image_tag "SWS-generic.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %p We gather to worship God through songs, prayers, and listening to sermons every Sunday. Everyone is welcome!
          %h6
            = link_to 'Harbor Bay Parkway', 'https://www.google.com/maps/place/Gracepoint+Berkeley+Church/@37.7259911,-122.23579,17z/data=!3m1!4b1!4m5!3m4!1s0x808f846a9fc9b947:0xb503fe545d3946b6!8m2!3d37.7279048!4d-122.2338217'
            @ 1:00 PM, Sunday, 4/1/2018
          %p Rides at Barrows Hall at 12:00 PM
      .carousel-item
        =image_tag "iusm-big-group.jpg", class: 'd-block img-fluid', alt: 'Responsive image'
        .carousel-caption.d-none.d-md-block
          %h3 Events in Pictures
          %p
            Want to know we have been up to?
            =link_to 'photo albums!', 'https://igsm.smugmug.com/2017'
/ About Section
%section.bg-primary.text-white#about
  .container
    %h2.text-center What is IUSM?
    =image_tag 'https://photos.smugmug.com/2018/2018-03-24-IUSM-Cataract-Falls/i-DqR2Rdz/0/71adcbbb/X2/EXPORT-7142-X2.jpg', class: 'img-fluid', id: 'student-img', alt: 'Responsive image'
    %p IUSM is an official Christian student group at UC Berkeley. We are an undergraduate student group. The students in our group come from many countries across the world, including the United States. Our mission is to “love locally, impact globally", in which we seek to create a "home away from home" for students at Berkeley. We offer weekly Bible studies, and special talks and lectures on topics such as science vs. faith. We also offer English class, small group gatherings, fun trips around the Bay Area, sports, among other things. If you want to know more about us, contact us here, or come to our upcoming events!
/ Footer
%footer.footer.text-center
  .container
    .row
      .col-md-12#connect
        %h3 Connect with us!
      .col-md-6.mb-6.mb-lg-0
        %h5
          WeChat Group
        %p=image_tag "weChatQRcode.jpg", height: "100px"
      .col-md-6.mb-6.mb-lg-0
        %h5
          Email
        %p iusmberkeley@gmail.com
.copyright.py-4.text-center.text-white
  .container
    .small
      Copyright © IUSM 2017
/ Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.d-lg-none.position-fixed
  =link_to '#page-top', class: 'js-scroll-trigger d-block text-center text-white roundedr' do
    %i.fa.fa-chevron-up
