.row
  .col-md-9
    .row
      .col-md-8
        %h2
          #{@user_possessive} board
      .col-md-4.text-right
        - unless @board == current_user.board
          = link_to 'my board', board_path(current_user.board)
          |
        = link_to 'scoreboard', boards_path
        |
        = link_to 'instructions', '#', data: { toggle: 'modal', target: '#boardInstrModal' }
    .row
      .col-md-6
        %h4
          Score:
          = @board.score
      .col-md-6.text-right
        %h4
          #{@board.user.team.name}:
          = @board.user.team.score
    %table.table.table-bordered
      - Board::CELLS.each_with_index do |row, index_row|
        %tr
          - row.each_with_index do |cell, index_col|
            - the_cell = @cells.where(col: index_col, row: index_row).first
            - finished = the_cell ? 'finished' : ''
            %td.bingo-cell.text-center{ class: finished }
              .instruction{ class: cell[:level], data: { toggle: 'popover', placement: 'top', html: 'true', content: cell[:description] } }
                = cell[:name]
              .sharing
                - if finished == 'finished'
                  = link_to board_cell_path(@board, the_cell), class: 'btn btn-primary btn-sm' do
                    read sharing #{fa_icon 'comment'}
                    %br
                    %small [ #{pluralize(the_cell.thread.comments.where(deleted_at:nil).count, 'comment')} ]
                - else
                  = link_to new_board_cell_path(board_id: @board.id, row: index_row, col: index_col), class: 'btn btn-warning btn-sm' do
                    submit
                    =fa_icon 'upload'
              .all-sharing.small.mt-2
                = link_to cells_path(row: index_row, col: index_col) do
                  all sharing [#{Cell.where(col: index_col, row: index_row).count}]
  .col-md-3
    / = render partial: 'bonus'
    = render partial: 'sharing'

#boardInstrModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Game Instructions
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %h4 Why are we doing this?
        %p To grow in our knowledge of God through doing this summer challenge bingo game together.
        %h4 Point System
        %p.easy Green is easy ==> #{Board::SCORE[:easy]} points.
        %p.medium Orange is medium ==> #{Board::SCORE[:medium]} points.
        %p.hard Dark red is hard ==> #{Board::SCORE[:hard]} points.
        %p.xhard Red (center) is extra hard ==> #{Board::SCORE[:xhard]} points.
        %p
          %strong BINGO! (five in a row) = #{Board::SCORE[:bingo]} points
        %h4 Prizes
        %p Completion of Bingo - IUSM T-shirt!
        %p Highest Individual Score - Bible Project Outline Book
        %p Highest TEAM Score - $10 Certificate for Book Table

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close

:javascript
  $('[data-toggle="popover"]').popover();

  $('[data-toggle="popover"]').on('click', function (e) {
    $('[data-toggle="popover"]').not(this).popover('hide');
  });
