.pull-right
  = button_tag 'Bingo Board Instructions', class: 'btn btn-primary',
    data: { toggle: 'modal', target: '#boardInstrModal' }
%h1
  #{@user_possessive} board
.row
  .col-md-9
    .row
      .col-md-6
        %h3
          Score:
          = @board.score
      .col-md-6.text-right
        %h3
          #{@user_possessive} team score:
          = @board.user.team.score
    %table.table.table-bordered
      - Board::LAYOUT.each_with_index do |row, index_row|
        %tr
          - row.each_with_index do |cell, index_col|
            - the_cell = @cells.where(col: index_col, row: index_row).first
            - finished = the_cell ? 'finished' : ''
            %td.bingo-cell.text-center{ class: finished }
              %div.instruction{ class: cell[:level] }
                = cell[:name]
                - if cell[:description] != ''
                  = fa_icon('info-circle', data: { toggle: 'popover', placement: 'bottom', html: 'true',
                    content: cell[:description]})
              %div.response
                - if finished == 'finished'
                  = link_to 'View answer', board_cell_path(@board, the_cell)
                - else
                  = link_to new_board_cell_path(board_id: @board.id, row: index_row, col: index_col), class: 'btn btn-info btn-sm' do
                    =fa_icon 'check-circle'
                    Finish!
  .col-md-3
    %ul.list-group.list-group-flush#recent-activities
      %li.list-group-item.text-info
        %strong Recent sharings...
      - Cell.order(finished_at: :desc).limit(5).each do |cell|
        %li.list-group-item
          = link_to board_path(cell.board) do
            = cell.board.user.username
          \:
          = link_to board_cell_path(cell.board, cell) do
            = cell.response.truncate_words(7)

    .recent-comments

<!-- Modal -->
#boardInstrModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Summer Challenge Bingo Board Instructions
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .easy
          Green is the easy difficulty level = 100 points.
        .medium
          Orange is the medium difficulty level = 200 points.
        .hard
          Dark red is the hard difficulty level = 500 points.
        .xhard
          Red (the one in the center) is the extra hard difficulty level = 1000 points.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close

:javascript
  $('[data-toggle="popover"]').popover();
