%h1
  - if @board.user == current_user
    Your board
  - else
    = "#{@board.user.username}'s board"
.row
  .col-md-6
    %h3
      Score:
      = @board.score
  .col-md-6.text-right
    %h3
      Your team score:
      = @board.user.team.score
%table.table.table-bordered
  - Board::LAYOUT.each_with_index do |row, index_row|
    %tr
      - row.each_with_index do |cell, index_col|
        - finished = @cells.where(col: index_col, row: index_row).first ? 'finished' : ''
        %td.text-center{ style:'border-width: 5px', class: finished }
          %div{ data: { toggle: 'tooltip', placement: 'bottom' },
                title: cell[:description], class: cell[:level]}
            = cell[:name]
          %div{style: 'margin: 20px 0'}
            - if finished == 'finished'
              = link_to 'View answer', board_cell_path(@board, cell)
            - else
              = link_to new_board_cell_path(board_id: @board.id, row: index_row, col: index_col), class: 'btn btn-info btn-sm' do
                %i.fa.fa-check-circle
                Finish!

:javascript
  $('[data-toggle="tooltip"]').tooltip()
