.row
  .col-12
    .pull-right
      - unless board.user == current_user
        = link_to "#{board.user.username}'s board", board_path(board)
        |
      = link_to 'my board', board_path(current_user.board)
      |
      = link_to 'scoreboard', boards_path
.row
  .col-12
    .mb-3.text-center.text-info
      %h2
        = Board::CELLS[row][col][:name]
      .lead
        %em= Board::CELLS[row][col][:description].html_safe
