= render partial: 'header',
         locals: { board: @cell.board, row: @cell.row, col: @cell.col }
- if @cell.errors.any?
  - @cell.errors.full_messages.each do |message|
    %p.text-danger
      = fa_icon('exclamation-triangle')
      = message
= form_for(@cell, url: board_cell_path(@cell.board, @cell), html: { method: :put, multipart: true }) do |f|
  .row
    .col-9
      .pull-right
        =link_to '#', data: { bs_toggle: 'modal', bs_target: '#markdownModal'} do
          .label.label-primary Markdown Support
      = f.label 'Edit your sharing for this activity:'
      = f.text_area :response, rows: 10, value: @cell.response, class: 'form-control'
      .field
        = f.submit 'Update', class: 'btn btn-success'
        = link_to "Cancel", board_cell_path(@cell.board, @cell), class: 'btn btn-outline-secondary'
        .pull-right
          = link_to "Delete", board_cell_path(@cell.board, @cell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    .col-3
      = f.label 'Upload a picture or video?'
      - if @cell.picture.attached?
        - if @cell.picture.content_type.include?("image")
          = link_to rails_blob_path(@cell.picture, disposition: "attachment"),
            data: { lightbox: @cell.picture.filename, title: @cell.picture.filename } do
            = image_tag @cell.picture.representation(resize_to_limit: [200, 200]), class: 'img-fluid img-thumbnail'
        - else
          = video_tag url_for(@cell.picture), controls: true
        %br
        = link_to 'Delete picture', { action: :delete_picture }, method: :put, class: "btn btn-danger btn-sm"
      .mt-4= f.file_field :picture, direct_upload: true
= render partial: 'markdown_modal'
