= render partial: 'header',
         locals: { board: current_user.board, row: @row, col: @col }
.row
  .col-md-12
    - if @cells.empty?
      .lead
        No one has done this yet. You can be the first one!
        =fa_icon 'smile-o'
    - @cells.each do |cell|
      .mb-2
        %strong
          = link_to cell.board.user.username, board_path(cell.board)
        .pull-right.small.text-muted
          - if cell.finished_at
            = cell.finished_at.strftime("%m/%d/%Y %I:%M%P")
          - if cell.board.user == current_user
            |
            = link_to 'Edit', edit_board_cell_path(cell.board, cell)
      .clearfix
      .card{style:'min-height: 100px'}
        .card-body
          - if cell.picture.present?
            = link_to cell.picture.url(:original), target: '_blank' do
              = image_tag cell.picture.url(:medium), class: 'img-fluid img-thumbnail', align: 'right'
          = markdown(cell.response)
      %p
        .pull-right.small
        = commontator_thread(cell)
