= render partial: 'header',
         locals: { board: @cell.board, row: @cell.row, col: @cell.col }
.row
  .col-12
    = form_for @cell, url: { action: 'create' }, html: { multipart: true } do |f|
      = f.hidden_field :board_id, value: params[:board_id]
      = f.hidden_field :row, value: params[:row]
      = f.hidden_field :col, value: params[:col]
      .pull-right
        =link_to '#', data: { bs_toggle: 'modal', bs_target: '#markdownModal'} do
          .label.label-primary Markdown Support
      .field
        = f.label 'Please share your learning from this activity:'
        = f.text_area :response, rows: 10, class: 'form-control'
      .field
        = f.label 'Want to upload a picture?'
        = f.file_field :picture
      .field
        = f.submit 'Submit', class: 'btn btn-success'
        .pull-right
          = link_to 'Cancel', board_path(Board.find(params[:board_id])), class: 'btn btn-danger'

= render partial: 'markdown_modal'
