= render partial: 'header',
         locals: { board: @cell.board, row: @cell.row, col: @cell.col }
.row
  .col-md-12
    - if current_user == @cell.board.user
      .pull-right
        = link_to 'Edit', edit_board_cell_path(@cell.board, @cell), class: 'btn btn-sm btn-warning'
        = link_to "Delete", board_cell_path(@cell.board, @cell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    %h2 #{@cell.board.user.username}'s sharing
    .card{style:'min-height: 200px'}
      .card-body
        - if @cell.picture.present?
          .cell-picture.pull-right
            .m-3
              = link_to @cell.picture.url(:original), target: '_blank' do
                = image_tag @cell.picture.url(:medium), class: 'img-fluid img-thumbnail'
            - if current_user == @cell.board.user
              .mx-3= link_to 'Delete picture', { action: :delete_picture }, method: :put, class: "btn btn-danger btn-sm"
        = simple_format @cell.response
.row.my-4
  .col-md-12
    = commontator_thread(@cell)
