= render partial: 'header', locals: { cell: @cell }
.row
  .col-md-12
    .pull-right
      - if current_user == @cell.board.user
        = link_to 'Edit', edit_board_cell_path(@cell.board, @cell), class: 'btn btn-sm btn-warning'
        = link_to "Delete", board_cell_path(@cell.board, @cell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    %h2 Sharing about the activity:
    .card{style:'min-height: 200px'}
      .card-body
        - if @cell.picture.present?
          .img-fluid= image_tag @cell.picture.url(:medium), align: 'right'
        = simple_format @cell.response
.row.my-4
  .col-md-12
    = commontator_thread(@cell)
