= render partial: 'header',
         locals: { board: @cell.board, row: @cell.row, col: @cell.col }
.row
  .col-7
    %h4 #{@cell.board.user.username}'s sharing
    .small= @cell.finished_at.strftime("%m/%d/%Y %I:%M%P")
  .col-5
    %ul.nav.justify-content-end
      %li.nav-item
        = link_to cells_path(row: @cell.row, col: @cell.col), class: 'nav-link' do
          Other sharing [#{Cell.where(row: @cell.row, col: @cell.col).count}]
        - if current_user == @cell.board.user
          %li.nav-item
            = link_to 'Edit', edit_board_cell_path(@cell.board, @cell), class: 'nav-link'
          %li.nav-item
            = link_to "Delete", board_cell_path(@cell.board, @cell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link'
.row
  .col-10
    .card{style:'min-height: 200px'}
      .card-body
        = markdown(@cell.response)
  .col-2
  - if @cell.picture.attached?
    .my-2
      - if @cell.picture.content_type.include?("image")
        = link_to rails_blob_path(@cell.picture, disposition: "attachment"),
          data: { lightbox: @cell.picture.filename, title: @cell.picture.filename } do
          = image_tag @cell.picture.representation(resize_to_limit: [200, 200]), class: 'img-fluid img-thumbnail'
      - else
        = video_tag url_for(@cell.picture), controls: true
          = link_to rails_blob_path(@cell.picture, disposition: "attachment"),
            data: { lightbox: @cell.picture.filename, title: @cell.picture.filename } do
            = image_tag @cell.picture.representation(resize_to_limit: [200, 200]), class: 'img-fluid img-thumbnail'
    .mb-2.text-muted= @cell.picture.filename
.row.my-4
  .col-12
    = commontator_thread(@cell)
