= render partial: 'header',
         locals: { board: @cell.board, row: @cell.row, col: @cell.col }
.row
  .col-7
    %h4 #{@cell.board.user.username}'s sharing
    .small= @cell.finished_at.strftime("%m/%d/%Y %I:%M%P")
  .col-5
    %ul.nav.justify-content-end
      %li.nav-item
        = link_to cells_path(row: @cell.row, col: @cell.col), class: 'nav-link' do
          Other sharing [#{Cell.where(row: @cell.row, col: @cell.col).count}]
        - if current_user == @cell.board.user
          %li.nav-item
            = link_to 'Edit', edit_board_cell_path(@cell.board, @cell), class: 'nav-link'
          %li.nav-item
            = link_to "Delete", board_cell_path(@cell.board, @cell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link'
.row
  .col-12
    .card{style:'min-height: 200px'}
      .card-body
        - if @cell.picture.present?
          .cell-picture.pull-right
            .m-3
              = link_to @cell.picture.url(:original),
                data: { lightbox: @cell.picture_file_name,
                        title: @cell.picture_file_name } do
                = image_tag @cell.picture.url(:medium),
                  class: 'img-fluid img-thumbnail'
            - if current_user == @cell.board.user
              .mx-3= link_to 'Delete picture', { action: :delete_picture }, method: :put, class: "btn btn-danger btn-sm"
        = markdown(@cell.response)
.row.my-4
  .col-12
    = commontator_thread(@cell)
