/ Navigation
%nav.navbar.navbar-expand-lg.navbar-light.bg-light.text-uppercase
  .container
    =link_to '/', class: 'navbar-brand js-scroll-trigger' do
      = image_tag 'favicon.ico', width: '30px'
      IUSM
    %ul.navbar-nav.d-flex
      %li.nav-item 
        =link_to 'Instructions', '#', data: { bs_toggle: 'modal', bs_target: '#boardInstrModal' }, class: 'nav-link'
      - if user_signed_in?
        %li.nav-item.dropdown
          = link_to 'Game boards', '#', class: 'nav-link dropdown-toggle', id: 'dropdownScoreboardLink', data: { bs_toggle: 'dropdown' },
          'aria-haspopup' => 'true', 'aria-expanded' => 'false'
          %ul.dropdown-menu{'aria-labelledby' => 'dropdownMenuButton'}
            %li= link_to 'My board', board_path(current_user.board), class: 'dropdown-item'
            %li= link_to 'Scoreboard', boards_path, class: 'dropdown-item'

      %li.nav-item.dropdown
        = link_to '#', class: 'nav-link dropdown-toggle', id: 'dropdownMenuLink', data: { bs_toggle: 'dropdown' },
          'aria-haspopup' => 'true', 'aria-expanded' => 'false' do
          = user_signed_in? ? current_user.username : 'Member'
        %ul.dropdown-menu{'aria-labelledby' => 'dropdownMenuButton'}
          - if user_signed_in?
            %li=link_to 'My profile', user_path(current_user), class: 'dropdown-item'
            %li=link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item'
          - else
            %li=link_to 'Sign in', new_user_session_path, class: 'dropdown-item'
