/ Navigation
%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-secondary.text-uppercase
  .container
    =link_to '/', class: 'navbar-brand js-scroll-trigger' do
      = image_tag 'favicon.ico', width: '30px'
      IUSM
    %button.navbar-toggler.navbar-toggler-right{'aria-controls' => 'navbarResponsive', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarResponsive', 'data-toggle' => 'collapse', type: 'button'}
      Menu
      %i.fa.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Photos', 'https://igsm.smugmug.com/2018', class: 'nav-link rounded'
        %li.nav-item
          = link_to 'About', '#about', class: 'nav-link rounded js-scroll-trigger'
        %li.nav-item
          = link_to 'Connect', '#connect', class: 'nav-link rounded js-scroll-trigger'
        %li.nav-item
          .dropdown
            = link_to 'Member', '#', class: 'btn btn-secondary dropdown-toggle',
              id: 'dropdownMenuLink', data: { toggle: 'dropdown' },
              'aria-haspopup' => 'true', 'aria-expanded' => 'false'
            .dropdown-menu{'aria-labelledby' => 'dropdownMenuButton'}
              - if user_signed_in?
                .dropdown-item=link_to 'Scoreboard', boards_path
                .dropdown-item=link_to 'My game board', board_path(current_user.board)
                .dropdown-item=link_to 'My profile', user_path(current_user)
                .dropdown-item=link_to 'Sign out', destroy_user_session_path
              - else
                .dropdown-item=link_to 'Sign in', new_user_session_path
