#boardInstrModal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Game Instructions
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        %h4 Point System
        %p.easy Green is easy ==> #{Board::SCORE[:easy]} points.
        %p.medium Orange is medium ==> #{Board::SCORE[:medium]} points.
        %p.hard Dark red is hard ==> #{Board::SCORE[:hard]} points.
        %p.crazy Red (center) is extra hard ==> #{Board::SCORE[:crazy]} points.
        %p
          %strong BINGO! (five in a row) = #{Board::SCORE[:bingo]} points
        %h4 Prizes
        %p Completion of Bingo - IUSM T-shirt!
        %p Highest Individual Score - Bible Project Outline Book
        %p Highest TEAM Score - $10 Certificate for Book Table