!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}

    %title International Undergraduate Student Ministry
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: :stylesheet, type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Montserrat:400,700'}
    %link{rel: :stylesheet, type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic'}
  %body#page-top
    = render partial: 'layouts/header'
    - if controller_name == 'pages'
      = yield
    - else
      %header.masthead
        .container
          - if flash[:error] || flash[:notice] || flash[:success]
            .card
              .card-body.bg-light
                %p.text-danger= flash[:error]
                %p.text-warning= flash[:notice]
                %p.text-success= flash[:success]
            %br
          = yield
    = render partial: 'layouts/footer'

    = javascript_include_tag "startbootstrap-freelancer/js/freelancer.min"
